<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wecall.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.sina.permission.SINA_PUSH" />
    
     <!-- 添加SinaPushSDK自定义的权限 -->
    <permission
        android:name="com.sina.permission.SINA_PUSH"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ContactInfo"
            android:label="@string/contactinfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MipcaActivityCapture"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ContactEditor"
            android:label="@string/edit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LabelInfo"
            android:label="@string/label"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SelectLabelMember"
            android:label="@string/editlabelinfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ContactLabelEditor"
            android:screenOrientation="portrait"
            android:label="@string/edit" >
        </activity>
        
        <!-- ************* 以下内容是第三方应用使用SinaPushSDK必须声明的部分,需要重点关注action的命名规则 ************* -->


        <!--
        	声明使用SinaPushSDK必须启动的服务com.sina.push.service.SinaPushService
        	注意：需要有 android:permission="com.sina.permission.SINA_PUSH"

        -->
        <service
            android:name="com.sina.push.service.SinaPushService"
            android:label="PushDataCenter"
            android:permission="com.sina.permission.SINA_PUSH"
            android:process=":remote" >
            <intent-filter>

                <!--
                	SinaPushSDK service action命名规则  sina.push.action.service.APPID
                	注意必须为： sina.push.action.service. + APPID

                -->
                <action android:name="sina.push.action.service.22633" />

                <category android:name="android.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- 声明使用SinaPushSDK必须注册的广播事件 -->
        <receiver android:name="com.sina.push.PushSDKReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.sina.push.datacenter.PushProvider"
            android:authorities="com.sina.push.pushprovider.22633"
            android:multiprocess="false"
            android:process=":remote" />

        <!-- 声明第三方定义的消息接收服务 -->
        <service
            android:name=".service.MsgReceiveService"
            android:label="MsgRecvService" >
            <intent-filter>

                <!--
                	消息接收器  action 命名规则  sina.push.action.msgreceive.APPID
                	 注意必须为： sina.push.action.msgreceive. + APPID

                -->
                <action android:name="sina.push.action.msgreceive.22633" />

                <category android:name="android.category.DEFAULT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="sinapush_appid"
            android:value="22633" />
    </application>

</manifest>
